body {
    background-color: #222222;
    font-weight: normal;
    color: white;
}
header{
    height: 15vh;
    background-color: #04AA6D;
}
.title{
    background-color: #555555;
    height: 15vh;
}
.form{
    width: 35%;
    background-color: #3d3d3d;
    border-radius: 2vh;
}

h1,h2,h3,h4,h5 {
    text-align: center;
}

input[type=text], select{
    position: center;
    color: white;
    background-color: #222222;
    width: 80%;
    padding: 2vh;
    border: 1vh solid #555;
    border-radius: 1vh;
    margin-bottom: 0.5vh;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}