@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway;
    transition: all 0.3s;
    letter-spacing: 0.25vw;
}

body {
    color: #FFFF;
    width: 100%;
    line-weight: 0;
}

div {
    width: 100%;
    z-index: 1;
    /* border: #FFFF solid 1px; */
}

.wrapper_css {
    height: auto;
    background-color: #222;
    display: flex;
    flex-direction: column;
}

.header_css {
    width: 100vw;
    height: 11vh;
    position: fixed;
    z-index: 2;
    display: flex;
    /* background-color: rgb(24, 24, 24); */
    background-color: rgba(0, 0, 0, 0.95);
    align-items: center;
    justify-content: space-around;
    font-size: 3vw;
    font-weight: 100;
    padding: 0.5vw;


}

.icon {
    flex-grow: 0;
    flex-basis: 10vh;
    flex-shrink: 0;
    justify-items: flex-start;
    width: 4vw;
    height: 10vh;
    margin-right: 1vw;
    /* border: #000 solid 1px;  */
    /* background-color: rgb(44, 44, 44); */
    border-radius: 15%;

    /* background:  url(../icons/besticonever_reverse.png); */

}
.user_icon_div{
    
    flex-grow: 0;
    flex-basis: 7vh;
    flex-shrink: 0;
    justify-items: flex-start;
    height: 7vh;
    margin-right: 1vw;
    border-radius: 100%;
    margin-left: 1rem;
    
    

}
.user_icon_div:hover{
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.487);
}
.user_icon{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

img {
    vertical-align: 0;
    width: 100%;
    height: 100%;

}

#item1 {
    /* border-left: rgb(34, 34, 34) solid 1px; */
}

.items {
    height: auto;
    align-self: center;
    text-align: center;
    justify-self: center;
    border-left: rgb(34, 34, 34) solid 1px;
}
.item_right{
    border-right: rgb(34, 34, 34) solid 1px;
}

a {
    text-decoration: none;
    color: #FFFF;
}

a:hover {
    color: rgb(74, 74, 74);
}

.container_css {
    margin-top: 11vh;
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #222;
}

.main_css {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.footer_css {
    /* flex-basis: 25vh; */
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: #000;  */
    color: rgba(242, 242, 242, 0.461);
    font-weight: 500;
    font-size: 0.7rem;
    z-index: 0;


}

.socialmedia {
    margin-top: 3%;
    display: flex;
    width: auto;
}

.socialmedia,
.erha {
    margin-bottom: 3%;
}

.telegram,
.instagram,
.github {
    margin-right: 15%;
    width: 4rem;
}

.erha {
    width: auto;
    display: flex;
}

.hihihaha {
    display: flex;
    margin-bottom: 3%;
}

.lefts {
    justify-self: flex-start;
    flex: 1 1 auto;
    margin-left: 5%;
}

.rights {
    justify-self: flex-end;
    flex: 1 1 auto;
    text-align: right;
    margin-right: 5%;
}


.first_scroll {
    height: 88vh;
    /* border: #FFFF solid 1px; */
    display: flex;
    align-content: center;

}
.first_scroll, .sec_scroll, .third_scroll, .fourth_scroll, .fifth_scroll, .footer_css {
    width: 100vw;
}

.vid {
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.text {
    z-index: 1;
    position: absolute;
    /* justify-self: center; */
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 100;
}

.line {
    justify-self: center;
    align-self: center;
}

hr {
    margin: auto;
    width: 75vw;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.our_name {
    font-size: 7vw;
    letter-spacing: 0.7vw;
}

.our_name,
.our_surname {
    width: 100%;
}

.our_surname {
    font-size: 3vw;
    letter-spacing: 0.5vw;

}

.sec_scroll {
    background-color: #222;
    flex-basis: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 100;
    text-align: center;
    padding: 5vw;
}

.talent {
    /* font-size: 5vmax; */
    font-size: 4vw;
    /* margin-bottom: 5vmin; */
    margin-bottom: 5vh;

}

.before_we {
    font-size: 2vw;
    /* font-size: 2vmax; */
    margin-bottom: 3vh;
    /* margin-bottom: 3vmin; */
}

.we {
    font-size: 1.0vw;
    /* font-size: 1.3vmax; */
}

.third_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);

}

.reviews {
    display: flex;
    flex-direction: column;


}

.review_head {
    height: 20vw;
    background-color: rgb(24, 24, 24);
    display: flex;
    align-content: center;

}

.head_text {
    align-self: center;
    text-align: center;
    font-size: 5vw;
    font-weight: 100;
}

.review_body {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    text-align: center;
    

}
.carousel-item {
    text-align: center;
    
}

.cadian,
.zxcursed,
.nata {
    width: 45vh;
    margin: 0 auto 0 auto;

    text-align: center;

}

.cadian_text,
.nft_text,
.zxc_text {
    margin-top: 3%;
    font-size: 1.6vw;
}

.nata {
    /* margin-right: 4%; */
}

.join_us {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.join_btn {
    width: 12rem;
    height: 4rem;
    border: none;
    border-radius: 0.45rem;
}

.join_us :hover {
    color: #FFFF;
    background-color: rgb(54, 54, 54);
}

.edu {
    display: flex;
    flex-direction: column;
    height: auto;
}

.edu_head {
    justify-self: center;
    text-align: center;
    font-size: 3vw;
    font-weight: 100;
    margin-top: 10%;
}

.fourth_scroll {
    display: flex;
    flex-direction: column;
    background-color: #222;
}

.course_descrip,
.macro,
.micro {
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 10%;
    justify-content: space-between;
    margin-top: 0;
}

.course_descrip {
    margin-top: 10%;
}

.micro {
    margin-bottom: 10%;
}

.edu_body {}

.application:after {
    content: "";
    display: table;
    clear: both;
}
.choose{
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    margin: 3rem auto 3rem auto;
}
.fifth_scroll{
    margin-bottom: 3rem;
}

.apply {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    float: left;
    width: 50%;
}

.apply_btn {
    border: none;
    border-radius: 20px;
    min-height: 20rem;
    min-width: 20rem;
    background-color: #222;
    
}
.apply_btn:hover{
    cursor: pointer;
    height: 22rem;
    width: 22rem;
    
}
.dota_img {
    height: 20rem;
    width: 20rem;
    border-radius: 20px;
}

.csgo_img {
    height: 20rem;
    width: 20rem;
    border-radius: 20px;
}


.apply :hover {
    color: #FFFF;
    background-color: rgb(54, 54, 54);
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #222;
    width: 50vw;
    height: 60vh;
    margin: auto;
    margin-top: 10vh;
    z-index: 101;
    display: flex;
    align-items: center;
    border-radius: 10px;
}




.close:hover,
.close:focus {
   
}

.modal-header {
   background-color: red;
}

.modal-body {
   padding: 5%;
}

.modal-footer {
    padding-top: 5vh;
    background-color: red;
}

.course_img {
    width: 30rem;
    min-width: 5rem;
    margin-right: 15%;
}

.course_text {
    margin-right: 4%;
    margin-left: 15%;
    font-size: 1.6vw;
    text-align: justify;
    font-weight: 100;
}

.references {
    display: flex;
    justify-content: space-between;
}

.inp, .select{
    padding: 2%;
    text-align: left;
    border: 2px solid rgb(54, 54, 54);
    border-radius: 10px;
    background-color: #222;
    color: rgb(204, 204, 204);
    height: 7vh;
    margin-bottom: 4%;
    width: 15rem;
    
}

::placeholder{
    color: rgb(114, 114, 114);
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 50%;
    flex: 50%;
}
.column2 {
    float: right;
    width: 50%;
    flex: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: flex;
    clear: both;
    width: 80%;
    margin: auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.bestmap{
    /*Has to be centered in a cs form like a submit button(which I also did not manage to center myself haha)*/
}
.subm{
    width: 80%;
    height: 3rem;
    border: none;
    border-radius: 0.45rem;
}

.game{
    display: none;
}

.profile_content {
    height: auto;
}
.t1row {
    display: flex;
}
.account_details{
    padding: 10vh 0 10vh 0;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
}
.table1{
    padding: 5rem;
    width: 70%;
    margin: 0 auto 5rem auto;
    border-radius: 15px;
    background-color: rgba(19, 19, 19, 0.859);
    line-height: 2.5rem;
}
.edit_img {
    /* height: 2rem;
    width: 2rem; */
}
.edit_img{
    /* display: inline-block;
    position: absolute;
    left: 25%;
    top: 25%; */
}
.t1_property{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
.t1_val{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.table2 {
    padding: 3rem;
    width: 80%;
    margin: 0 auto 5rem auto;
    border-radius: 15px;
    background-color: rgba(19, 19, 19, 0.859);
    line-height: 2rem;
    letter-spacing: 0;
    text-align: center;
}
.order_history{
    margin: 5rem auto 5rem auto;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

.val_row {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    flex-flow: row nowrap;
    text-align: center;
    
}
.order_id{
    flex: 0 1 2rem;
    margin-right: 20px;
}
.game_name {
    flex: 0 1 2rem;
}

.current_rank {
    flex: 0 1 40rem;
    
}
.win_rate {
    flex: 0 1 30rem;
}
.in-game_hours {
    flex: 0 1 50rem;
    
}
.best_map {
    flex: 0 1 30rem;
}
.current_mmr {
    flex: 0 1 30rem;
}
.edit_dota {
    /* flex: 0 1 5rem; */
    /* flex-grow: 0; */
    width: 4rem;
    height: 2rem;
    
}
.edit_csgo {
    width: 5rem;
    height: 2rem;
    
}
.edit_icon {
    width: 100%;
    height: 100%;
}
.role { 
    flex: 0 1 35rem;
}
.kitten {
    width: 15rem;
    height: 15rem;
    margin: 3rem 1rem;
}
.dancin{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
div.container {
    --bs-gutter-x: 0;
    margin: 0;
}
.order_line {
    width: 85%;
    border-color: rgba(143, 143, 143, 0.313);
    
}
.login_body {
    padding: 0;
    margin: 0;
    background-color: #222;
}
.login_wrapper {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    height: 100vh;;
    /* justify-content:center; */
    align-items: center;
    color: rgba(255, 255, 255, 0.753);
}
.login_title {
    text-align: center;
}
.login_form{
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.225);
    border-radius: 15px;
    width: 50%;
    margin-top: 3%;
    padding: 2% 3%;
    line-height: 2;    
}
.login_user_icon {
    height: 5rem;
    width: 5rem;
}
.login_header_text {
    color: rgba(255, 255, 255, 0.454);
    letter-spacing: 2px;
    font-size: 0.75rem;
    
}
.form_text {
    margin-bottom: 1%;
}
.login_sign_in {
    padding: 2% 4%;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.753);
    margin: 2% 0;
}
.login_sign_in:hover {
    background-color: rgb(79, 79, 79);
    color: rgba(255, 255, 255, 0.753); 
}
.login_reg {
    font-size: 0.8rem;
}
.login_title {
    font-size: 2.5rem;
    font-weight: 100;
}
.login_error {
    height: 2rem;
}
.unvisible_zatychka {
    height: 2rem;
}
@media (max-width: 950px){
    .login_form {
        width: 75%;
    }
}