<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CS Course</title>
    <link rel="stylesheet" th:href="@{/css/orderform.css}">
</head>
<body>
<header>

</header>
<div class="title">
    <h1>CS:GO course</h1>
</div>
<div class="form">
    <form th:method="POST" th:action="@{/ordercourse/success}" th:object="${order}">

        <input type="text" th:field="*{name}" id="name" placeholder="Name"> <br>

        <input type="text" th:field="*{surname}" id="surname" placeholder="Surname"> <br>

        <input type="text" th:field="*{email}" id="email" placeholder="Email"> <br>

        <input type="text" th:field="*{phone}" id="phone" placeholder="Phone number"> <br>

        <select th:field="*{experience}" id="experience">
            <option th:value="'not chosen'" th:text="'Choose your current in-game rank'"></option>
            <option th:value="'Silver'" th:text="'Silver'"></option>
            <option th:value="'Gold Nova'" th:text="'Gold Nova'"></option>
            <option th:value="'Master Guardian'" th:text="'Master Guardian'"></option>
            <option th:value="'Legendary Eagle'" th:text="'Legendary Eagle'"></option>
            <option th:value="'Supreme'" th:text="'Supreme'"></option>
            <option th:value="'Global Elite'" th:text="'Global Elite'"></option>
        </select> <br>
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>