<!DOCTYPE html>
<html lang="en">
    <head>
        <title>site</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="icon"><a href=""><img src="icons/ants-iconn.png" alt="ant" id="ant_icon"></a></div>
                <div class="items"><a href="">About us</a></div>
                <div class="items"><a href="">About ass</a></div>
                <div class="items"><a href="">Stav' klass:)</a></div>
                
            </div>
            <div class="container">
                <div class="main">
                    <div class="first_scroll">
                        <div class="text">
                            <div class="our_name">ANT CyberNest</div>
                            <div class="line"><hr></div>
                            <div class="our_surname">Erase your enemies</div>
                        </div>
                        
                        <div class="vid"><video src="videos/bgvideo.mp4" autoplay muted loop></video></div>
                    </div>
                    <div class="sec_scroll">
                        <div class="references">
                            <div class="ref1">
                                <a href="/ordercourse/cs">Take Counter-Strike course</a>  
                            </div>
                            <div class="ref2">
                                <a href="/ordercourse/dota">Take Dota 2 course</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="third_scroll">
                        3scroll
                    </div>
                </div>
                <div class="footer">
                    footer
                </div>
            </div>
            
        </div>
    </body>
</html>