<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <title>ant</title>
    <!-- for index -->
<!--    <link rel="shortcut icon" type="image/x-icon" href="../static/icons/besticonever_reverse_icon.png" />-->

    <!-- for java -->
     <link rel="shortcut icon" type="image/x-icon" href="icons/besticonever_reverse_icon.png"/>

    <!-- for index -->
<!--    <link rel="stylesheet" href="../static/css/style.css">-->

    <!-- for java -->
     <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">

    

</head>

<body>
<div class="wrapper_css">
    <div class="header_css">
<!--        <div class="icon"><a href="#main"><img src="../static/icons/besticonever_reverse.png" alt="ant"id="ant_icon"></a></div>-->
         <div class="icon"><a href="/home#main"><img src="/icons/besticonever_reverse.png" alt="ant" id="ant_icon"></a></div>

        <div class="items" id="item1"><a href="#cust">Customers</a></div>
        <div class="items"><a href="#more">Training</a></div>
        <div class="items item_right"><a href="#apply">Order</a></div>
        <div class="user_icon_div"><a href="/profile"><img class="user_icon" src="https://media1.giphy.com/media/yYfYMDigAVCncNH0Nt/giphy.gif?cid=790b76114fa1b1127e2bc0d612b0d36641aeec3584bb40b1&rid=giphy.gif&ct=s" alt="user_pic"></a></div>

    </div>
    <div class="container_css">
        <div class="main_css">
            <div class="first_scroll" id="main">
                <div class="text">
                    <div class="our_name">ANT CyberNest</div>
                    <div class="line">
                        <hr>
                    </div>

                    <div class="our_surname"><span class="auto-type"></span></div>
                    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
                    <script>
                        var typed = new Typed(".auto-type", {
                            strings: ["Push yourself to the limit", "Stay consistent", "Erase your enemies"],
                            typeSpeed: 100,
                            backSpeed: 50,
                            loop: true
                        })
                    </script>
                </div>

<!--                <div class="vid"><video src="../static/videos/bgvideo.mp4" autoplay muted loop></video></div>-->
                 <div class="vid"><video src="/videos/bgvideo.mp4" autoplay muted loop></video></div>
            </div>
            <div class="sec_scroll" id="tal">
                <div class="talent">YOU'RE A TALENT</div>
                <div class="before_we">If you have ever thought about being a proffesional CS:GO/DOTA 2 player but
                    something stopped you, we will make your dream becomes true.
                </div>
                <div class="we">We provide our gaming improvemet services since 2023. We guaranee that by course's
                    ending your skill will rise to incredible level. Our graduates won't let us lie.
                </div>
            </div>
            <div class="third_scroll" id="cust">
                <div class="reviews">
                    <div class="review_head">
                        <div class="head_text">
                            Our best customers
                        </div>
                    </div>
                    <div class="review_body">

                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <div class="cadian">
                                    <div class="cadian_img">
<!--                                        <img src="../static/icons/cadian.png" alt="">-->
                                         <img src="/icons/cadian.png" alt="">
                                    </div>
                                    <div class="cadian_text">ilya, napishy cheta pro nego pzh</div>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div class="zxcursed">
                                    <div class="zxc_img">
<!--                                        <img src="../static/icons/zxcursed.png" alt="">-->
                                         <img src="/icons/zxcursed.png" alt="">
                                    </div>
                                    <div class="zxc_text">zxcursed. Graduated our cybernest and became a famous Telegram
                                        stramer
                                    </div>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div class="nata">
                                    <div class="nft_img">
<!--                                        <img src="../static/icons/nata.png" alt="">-->
                                         <img src="/icons/nata.png" alt="">
                                    </div>
                                    <div class="nft_text">Nata. Proffesional CS:GO, DOTA 2, Brawl Stars and Mobile Legends
                                        player.
                                    </div>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        <!-- <div class="cadian">
                            <div class="cadian_img">
                                <img src="../static/icons/cadian.png" alt="">
                                <img src="/icons/cadian.png" alt="">
                            </div>
                            <div class="cadian_text">ilya, napishy cheta pro nego pzh</div>
                        </div>
                        <div class="zxcursed">
                            <div class="zxc_img">
                                <img src="../static/icons/zxcursed.png" alt="">
                                <img src="/icons/zxcursed.png" alt="">
                            </div>
                            <div class="zxc_text">zxcursed. Graduated our cybernest and became a famous Telegram
                                stramer
                            </div>
                        </div>
                        <div class="nata">
                            <div class="nft_img">
                                <img src="../static/icons/nata.png" alt="">
                                <img src="/icons/nata.png" alt="">
                            </div>
                            <div class="nft_text">Nata. Proffesional CS:GO, DOTA 2, Brawl Stars and Mobile Legends
                                player.
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="join_us"><a href="#apply">
                    <button class="join_btn">JOIN US</button>
                </a></div>
            </div>
            <div class="fourth_scroll" id="more">
                <div class="edu">
                    <div class="edu_head">
                        More about training process
                    </div>
                    <div class="edu_body">
                        <div class="course_descrip">
                            <div class="course_text">After applying for the course you will get an acces to our
                                educational materials. Also, you will have a personal high skilled coach and weekly
                                tasks.
                            </div>
<!--                            <div class="course_img"><img src="../static/icons/papizzi.png" alt=""></div>-->
                             <div class="course_img"><img src="/icons/papizzi.png" alt=""></div>
                        </div>
                        <div class="macro">
                            <div class="course_text">smt about strategy tactics and so on</div>
<!--                            <div class="course_img"><img src="../static/icons/papizzi_strategy.png" alt="strategy"></div>-->
                             <div class="course_img"><img src="/icons/papizzi_strategy.png" alt="strategy"></div>
                        </div>
                        <div class="micro">
                            <div class="course_text">Generally, it takes 6 months to pass our course.</div>
<!--                            <div class="course_img"><img src="../static/icons/papizzi_micro.png" alt="vac moments"></div>-->
                             <div class="course_img"><img src="/icons/papizzi_micro.png" alt="vac moments"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="fifth_scroll" id="apply">

                <div class="application">
                    <div class="choose">Choose Your Game</div>

                    <div class="apply" >                        
<!--                        <button id="btn1" class="apply_btn"><img class="csgo_img" src="../static/icons/csgo.jpg" alt=""></button>-->
                        <button id="btn1" class="apply_btn"><img class="csgo_img" src="/icons/csgo.jpg" alt=""></button>
                    </div>
                    <div class="apply">
<!--                        <button id="btn2" class="apply_btn"><img class="dota_img" src="../static/icons/dota2.jpg" alt=""></button>-->
                        <button id="btn2" class="apply_btn"><img class="dota_img" src="/icons/dota2.jpg" alt=""></button>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="myModal1" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">

                        <!-- <div class="modal-header">

                        </div> -->
                        <div class="modal-body">
                            <form th:method="POST" th:action="@{/cspost}">
                                <div class="row">
                                    <div class="column2">
                                        <select name="userExperience" id="userExperience" class="select">
                                            <option th:value="'Not mentioned'" th:text="'Current Rank'" th:selected="selected"
                                                    th:disabled="disabled"></option>
                                            <option th:value="'Silver'" th:text="'Silver'"></option>
                                            <option th:value="'Gold Nova'" th:text="'Gold Nova'"></option>
                                            <option th:value="'Master Guardian'" th:text="'Master Guardian'"></option>
                                            <option th:value="'Legendary Eagle'" th:text="'Legendary Eagle'"></option>
                                            <option th:value="'Global Elite'" th:text="'Global Elite'"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column1">
                                        <input type="text" class="inp" th:field="*{csorder.winRate}" placeholder="Win Rate(%)">
                                    </div>
                                    <div class="column2">
                                        <input type="text" class="inp" th:field="*{csorder.hoursPlayed}" placeholder="In-game hours">
                                    </div>
                                </div>
                                <div class="bestmap">
                                    <select name="bestMap" id="bestMap" class="select">
                                        <option th:value="'Not mentioned'" th:text="'Best Map'" th:selected="selected"
                                                th:disabled="disabled"></option>
                                        <option th:value="'Mirage'" th:text="'Mirage'"></option>
                                        <option th:value="'Inferno'" th:text="'Inferno'"></option>
                                        <option th:value="'Overpass'" th:text="'Overpass'"></option>
                                        <option th:value="'Nuke'" th:text="'Nuke'"></option>
                                    </select>
                                </div>
                                <input type="submit" class="subm" value="Submit">
                            </form>
                        </div>
                        <!-- <div class="modal-footer">
                            <h3>Терентьев</h3>
                        </div> -->

                    </div>
                </div>

                <!-- The Modal -->
                <div id="myModal2" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <!-- <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Ало звоню тебе с айфона 13 про</h2>
                        </div> -->
                        <div class="modal-body">
                            <form th:method="POST" th:action="@{/dotapost}">
                                <div class="row">
                                    <div class="column2">
                                        <input type="text" class="inp" th:field="*{dotaorder.userExperience}" placeholder="Current MMR">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column2">
                                        <select name="role" id="role" class="select">
                                            <option th:value="'Not mentioned'" th:text="'Preferred Role'" th:selected="selected"
                                                    th:disabled="disabled"></option>
                                            <option th:value="'Carry'" th:text="'Carry'"></option>
                                            <option th:value="'Off-Lane'" th:text="'Off-Lane'"></option>
                                            <option th:value="'Mid-Lane'" th:text="'Mid-Lane'"></option>
                                            <option th:value="'Support'" th:text="'Support'"></option>
                                            <option th:value="'Hard Support'" th:text="'Hard Support'"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column1">
                                        <input type="text" class="inp" th:field="*{user.phone}" placeholder="Phone">
                                    </div>
                                    <div class="column2">
                                        <select name="communication" id="communication" class="select">
                                            <option th:value="'Not mentioned'" th:text="'Communication'" th:selected="selected"
                                                    th:disabled="disabled"></option>
                                            <option th:value="'Discord'" th:text="'Discord'"></option>
                                            <option th:value="'TeamSpeak'" th:text="'TeamSpeak'"></option>
                                            <option th:value="'Skype'" th:text="'Skype'"></option>
                                        </select>
                                    </div>
                                </div>
                                <input type="submit" class="subm" value="Submit">
                            </form>
                        </div>
                        <!-- <div class="modal-footer">
                            <h3>Все, не звони мне больше</h3>
                        </div> -->

                    </div>
                </div>


                <!--                        Ну тут я пока нихуя не сделал, я кушать пошел-->
                <!--                        приятного аппетита -->

                <!-- однажды штирлицу чудом удалось выбраться из ямы, -->
                <!-- но чудес не бывает подумал штирлиц и залез обратно -->

                <!-- однажды штирлицу в дверь постучали 18432 раза -->
                <!-- "2304 осьминога!", - подумал штирлиц -->
                <!-- "сын говна", - ловко парировали 18 килобайт -->

                <!-- Кто прочитал у того маленький член -->
                <!-- э валыну убери -->
            </div>
            <div class="footer_css">
                <div class="socialmedia">
<!--                    <div class="telegram"><a href="https://t.me/cybernest"><img src="../static/icons/telegram.png"alt="tg"></a></div>-->
<!--                    <div class="instagram"><a href="link to our inst pub"><img src="../static/icons/instagram.png"alt="tg"></a></div>-->
<!--                    <div class="github"><a href="https://github.com/yershhov/ant_cybernest"><img src="../static/icons/github.png" alt="tg"></a></div>-->
<!---->
                     <div class="telegram"><a href="t.me/cybernest"><img src="/icons/telegram.png"alt="tg"></a></div>
                     <div class="instagram"><a href="link to our inst pub"><img src="/icons/instagram.png"alt="tg"></a></div>
                     <div class="github"><a href="link to our git repo"><img src="/icons/github.png"alt="tg"></a></div>
                </div>
                <div class="erha">
                    <div class="erha_text">Designed and supported by YER|HA coop.</div>
                </div>
                <div class="hihihaha">
                    <div class="lefts">
                        <div class="hihi_text">All lefts reserved</div>
                    </div>
                    <div class="rights">
                        <div class="hihi_text">All rights reserved</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="../static/js/myscript.js"></script>-->
<!--<script src="../static/js/popupscript.js"></script>-->
 <script src="/js/myscript.js"></script>
 <script src="/js/popupscript.js"></script>
<!-- Boootstrap JS link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
<!--<form>-->
<!--    <div class="row">-->
<!--        <div class="column1">-->
<!--            <input type="text" class="inp" placeholder="Full Name">-->
<!--        </div>-->
<!--        <div class="column2">-->
<!--            <input type="text" class="inp" placeholder="Current MMR">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="column1">-->
<!--            <input type="text" class="inp" placeholder="Email">-->
<!--        </div>-->
<!--        <div class="column2">-->
<!--            <select name="role" id="role" class="select">-->
<!--                <option value="Not mentioned" selected disabled>Preferred Role</option>-->
<!--                <option value="Carry">Carry</option>-->
<!--                <option value="Off-Lane">Off-Lane</option>-->
<!--                <option value="Mid-Lane">Mid-Lane</option>-->
<!--                <option value="Support">Support</option>-->
<!--                <option value="Hard Support">Hard Support</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="column1">-->
<!--            <input type="text" class="inp" placeholder="Phone">-->
<!--        </div>-->
<!--        <div class="column2">-->
<!--            <select name="communication" id="communication" class="select">-->
<!--                <option value="Not mentioned" selected disabled>Communication</option>-->
<!--                <option value="Discord">Discord</option>-->
<!--                <option value="TeamSpeak">TeamSpeak</option>-->
<!--                <option value="Skype">Skype</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--    <input type="submit" class="subm" value="Submit">-->
<!--</form>-->
<!--======================================================================================-->
<!--<form>-->
<!--    <div class="row">-->
<!--        <div class="column1">-->
<!--            <input type="text" class="inp" placeholder="Full Name">-->
<!--        </div>-->
<!--        <div class="column2">-->
<!--            <input type="text" class="inp" placeholder="Email">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="column1">-->
<!--            <input type="text" class="inp" placeholder="Phone">-->
<!--        </div>-->
<!--        <div class="column2">-->
<!--            <select name="experience" id="experience" class="select">-->
<!--                <option value="Not mentioned" selected disabled>Current Rank</option>-->
<!--                <option value="Silver">Silver</option>-->
<!--                <option value="Gold Nova">Gold Nova</option>-->
<!--                <option value="Master Guardian">Master Guardian</option>-->
<!--                <option value="Legendary Eagle">Legendary Eagle</option>-->
<!--                <option value="Global Elite">Global Elite</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--<div class="row">-->
<!--    <div class="column1">-->
<!--        <input type="text" class="inp" placeholder="Win Rate(%)">-->
<!--    </div>-->
<!--    <div class="column2">-->
<!--        <input type="text" class="inp" placeholder="In-game hours">-->
<!--    </div>-->
<!--</div>-->
<!--    <div class="bestmap">-->
<!--        <select name="bestMap" id="bestMap" class="select">-->
<!--            <option value="Not mentioned" selected disabled>Best Map</option>-->
<!--            <option value="Mirage">Mirage</option>-->
<!--            <option value="Inferno">Inferno</option>-->
<!--            <option value="Overpass">Overpass</option>-->
<!--            <option value="Nuke">Nuke</option>-->
<!--        </select>-->
<!--    </div>-->
<!--    <input type="submit" class="subm" value="Submit">-->
<!--</form>-->