<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:action="@{/log}" th:method="POST">
<div style ="color:red" th:if="${userToLogin.getIsValid() == false}">Invalid email or password</div>
<input type="text" class="inp" th:field="*{userToLogin.email}" placeholder="Email">
<input type="text" class="inp" th:field="*{userToLogin.password}" placeholder="Password">
<input type="submit" value="Sign In">
</form>
<a href="/registration">Sign Up</a>
</body>
</html>