<!DOCTYPE html>
<html lang="en">

<head>
    <title>ant</title>
    <!-- for index -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/icons/besticonever_reverse_icon.png" />

    <!-- for java -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="icons/besticonever_reverse_icon.png"/> -->

    <!-- for index -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- for java -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <meta charset="UTF-8">
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div class="icon"><a href="index.html"><img src="../static/icons/besticonever_reverse.png" alt="ant"id="ant_icon">                    </a></div>
        <!-- <div class="icon"><a href=""><img src="/icons/besticonever_reverse.png" alt="ant" id="ant_icon"></a></div> -->

        <div class="items" id="item1"><a href="index.html">Talent</a></div>
        <div class="items"><a href="index.html">Our customers</a></div>
        <div class="items"><a href="index.html">More</a></div>
        <div class="user_icon_div"><a href=""><img class="user_icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7wrKjpbjvQzLHlQfvKO8gsopOJBvbCEXe1A&usqp=CAU" alt="user_pic"></a></div>
        <!-- <div class="icon"><a href=""><img src="/icons/profile3.png" alt="profile" id="profile_icon"></a></div> -->

    </div>
    <div class="container profile_container">
        <div class="main">
            <div class="content profile_content">
                <div class="account_details"><span class="account_detail_text">Your Account</span></div>
                <div class="table1">
                    <div class="edit"><a href=""><img class="edit_img" src="https://cdn-icons-png.flaticon.com/512/1159/1159633.png" alt=""></a></div>
                    <div class="t1row">
                        <div class="t1r1_property">Userame:</div>
                        <div class="t1r1_value">Luxxxx</div>
                    </div>
                    <div class="t1row">
                        <div class="t1r2_property">Email:</div>
                        <div class="t1r2_value">defaultemail@gmail.com</div>
                    </div>
                    <div class="t1row">
                        <div class="t1r3_property">Phone number:</div>
                        <div class="t1r3_value"> (+38)0938784808</div>
                    </div>
                </div>
                <div class="table2">
                    table 2 starts here

                </div>
            </div>
            <div class="footer">
                <div class="socialmedia">
                    <div class="telegram"><a href="t.me/cybernest"><img src="../static/icons/telegram.png"alt="tg"></a></div>
                    <div class="instagram"><a href="link to our inst pub"><img src="../static/icons/instagram.png"alt="tg"></a></div>
                    <div class="github"><a href="link to our git repo"><img src="../static/icons/github.png" alt="tg"></a></div>

                    <!-- <div class="telegram"><a href="t.me/cybernest"><img src="/icons/telegram.png"alt="tg"></a></div> -->
                    <!-- <div class="instagram"><a href="link to our inst pub"><img src="/icons/instagram.png"alt="tg"></a></div> -->
                    <!-- <div class="github"><a href="link to our git repo"><img src="/icons/github.png"alt="tg"></a></div> -->
                </div>
                <div class="erha">
                    <div class="erha_text">Designed and supported by YER|HA coop.</div>
                </div>
                <div class="hihihaha">
                    <div class="lefts">
                        <div class="hihi_text">All lefts reserved</div>
                    </div>
                    <div class="rights">
                        <div class="hihi_text">All rights reserved</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/myscript.js"></script>
<script src="../static/js/popupscript.js"></script>
<!-- <script src="/js/myscript.js"></script> -->
<!-- <script src="/js/popupscript.js"></script> -->
</body>

</html>
<!--<form>-->
<!--    <div class="row">-->
<!--        <div class="column1">-->
<!--            <input type="text" class="inp" placeholder="Full Name">-->
<!--        </div>-->
<!--        <div class="column2">-->
<!--            <input type="text" class="inp" placeholder="Current MMR">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="column1">-->
<!--            <input type="text" class="inp" placeholder="Email">-->
<!--        </div>-->
<!--        <div class="column2">-->
<!--            <select name="role" id="role" class="select">-->
<!--                <option value="Not mentioned" selected disabled>Preferred Role</option>-->
<!--                <option value="Carry">Carry</option>-->
<!--                <option value="Off-Lane">Off-Lane</option>-->
<!--                <option value="Mid-Lane">Mid-Lane</option>-->
<!--                <option value="Support">Support</option>-->
<!--                <option value="Hard Support">Hard Support</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="column1">-->
<!--            <input type="text" class="inp" placeholder="Phone">-->
<!--        </div>-->
<!--        <div class="column2">-->
<!--            <select name="communication" id="communication" class="select">-->
<!--                <option value="Not mentioned" selected disabled>Communication</option>-->
<!--                <option value="Discord">Discord</option>-->
<!--                <option value="TeamSpeak">TeamSpeak</option>-->
<!--                <option value="Skype">Skype</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--    <input type="submit" class="subm" value="Submit">-->
<!--</form>-->
<!--======================================================================================-->
<!--<form>-->
<!--    <div class="row">-->
<!--        <div class="column1">-->
<!--            <input type="text" class="inp" placeholder="Full Name">-->
<!--        </div>-->
<!--        <div class="column2">-->
<!--            <input type="text" class="inp" placeholder="Email">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="column1">-->
<!--            <input type="text" class="inp" placeholder="Phone">-->
<!--        </div>-->
<!--        <div class="column2">-->
<!--            <select name="experience" id="experience" class="select">-->
<!--                <option value="Not mentioned" selected disabled>Current Rank</option>-->
<!--                <option value="Silver">Silver</option>-->
<!--                <option value="Gold Nova">Gold Nova</option>-->
<!--                <option value="Master Guardian">Master Guardian</option>-->
<!--                <option value="Legendary Eagle">Legendary Eagle</option>-->
<!--                <option value="Global Elite">Global Elite</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--<div class="row">-->
<!--    <div class="column1">-->
<!--        <input type="text" class="inp" placeholder="Win Rate(%)">-->
<!--    </div>-->
<!--    <div class="column2">-->
<!--        <input type="text" class="inp" placeholder="In-game hours">-->
<!--    </div>-->
<!--</div>-->
<!--    <div class="bestmap">-->
<!--        <select name="bestMap" id="bestMap" class="select">-->
<!--            <option value="Not mentioned" selected disabled>Best Map</option>-->
<!--            <option value="Mirage">Mirage</option>-->
<!--            <option value="Inferno">Inferno</option>-->
<!--            <option value="Overpass">Overpass</option>-->
<!--            <option value="Nuke">Nuke</option>-->
<!--        </select>-->
<!--    </div>-->
<!--    <input type="submit" class="subm" value="Submit">-->
<!--</form>-->