<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ant</title>
    <!-- for index -->
    <!--  <link rel="shortcut icon" type="image/x-icon" href="../static/icons/besticonever_reverse_icon.png" />-->

    <!-- for java -->
    <link rel="shortcut icon" type="image/x-icon" href="icons/besticonever_reverse_icon.png"/>

    <!-- for index -->
    <!-- <link rel="stylesheet" href="../static/css/style.css">-->

    <!-- for java -->
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
</head>

<body>
<div class="wrapper_css">
    <div class="header_css">
        <!--       <div class="icon"><a href="index.html"><img src="../static/icons/besticonever_reverse.png" alt="ant"id="ant_icon">                    </a></div>-->
        <div class="icon"><a href="/home#main"><img src="/icons/besticonever_reverse.png" alt="ant" id="ant_icon"></a>
        </div>

        <div class="items" id="item1"><a href="#profile_start">Account</a></div>
        <div class="items"><a href="#history_anchor">Order History</a></div>
        <div class="items item_right"><a href="#kitten_anchor">Kitten</a></div>
        <div class="user_icon_div"><a href="#profile_start"><img class="user_icon"
                                                                 src="https://media1.giphy.com/media/yYfYMDigAVCncNH0Nt/giphy.gif?cid=790b76114fa1b1127e2bc0d612b0d36641aeec3584bb40b1&rid=giphy.gif&ct=s"
                                                                 alt="user_pic"></a></div>
    </div>
    <div class="container_css profile_container">
        <div class="main">
            <div class="content profile_content ">
                <div class="account_details" id="profile_start"><span class="account_detail_text">Your Account</span>
                </div>
                <div class="table1">
                    <!-- <div class="edit"><a href=""><img class="edit_img" src="https://cdn-icons-png.flaticon.com/512/1159/1159633.png" alt=""></a></div> -->
                    <div class="t1row">
                        <div class="t1_property">Full Name:</div>
                        <div th:if="${loggedInUser != null}" class="t1_value"
                             th:text="${loggedInUser.getFullName()}"></div>
                    </div>
                    <div class="t1row">
                        <div class="t1_property">Email:</div>
                        <div th:if="${loggedInUser != null}" class="t1_value"
                             th:text="${loggedInUser.getEmail()}"></div>
                    </div>
                    <div class="t1row">
                        <div class="t1_property">Phone number:</div>
                        <div th:if="${loggedInUser != null}" class="t1_value"
                             th:text="${loggedInUser.getPhone()}"></div>
                    </div>
                    <div class="edit_user"><button th:id="${loggedInUser.email}" onclick="show_hide_user(this.id)"><img class="edit_icon" src="/icons/edit.png" alt="asd"></button></div>

                    <div class="user_change" th:id="'change'+ ${loggedInUser.email}">
                        <form th:action="@{/updateUser/{id}(id=${loggedInUser.userId})}" th:method="PATCH">
                            <div class="inside_reg_form">
                                <div class="reg_row_el"><input type="text" class="inp row_inp" th:field="*{updatedUser.fullName}" placeholder="New Full Name"></div>
<!--                                <div class="reg_emptiness" style ="color:red" th:if="${#fields.hasErrors('user.fullName')}" th:errors="*{loggedInUser.fullName}"></div>-->
                                <div class="reg_row_el"><input type="text" class="inp row_inp" th:field="*{updatedUser.phone}" placeholder="New Phone"></div>
<!--                                <div class="reg_emptiness" style ="color:red" th:if="${#fields.hasErrors('user.phone')}" th:errors="*{loggedInUser.phone}"></div>-->
                                <div class="reg_row_el"><input type="text" class="inp row_inp" th:field="*{updatedUser.password}" placeholder="New Password"></div>
<!--                                <div class="reg_emptiness" style ="color:red" th:if="${#fields.hasErrors('user.password')}" th:errors="*{loggedInUser.password}"></div>-->
                                <div class="reg_row_el" ><input class="reg_subm" type="submit" value="Update"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="order_history" id="history_anchor"><span class="order_history_text">Order History</span>
                </div>

                <div class="table2">
                    <div th:each="dotaOrder : ${dotaOrders}">
                        <div class="val_row">
                            <div class="order_id"><strong th:text="${dotaOrder.orderId}"></strong></div>
                            <div class="game_name"><strong th:text="${dotaOrder.game}"></strong></div>
                            <div class="current_mmr"><strong>PTS: </strong><span
                                    th:text="${dotaOrder.userExperience}"></span></div>
                            <div class="role"><strong>Role: </strong><span th:text="${dotaOrder.role}"></span></div>
                            <div class="win-rate_val"><strong>Comm. method: </strong><span
                                    th:text="${dotaOrder.communication}"></span></div>
                            <!--                            <div class="edit_dota"><img class="edit_icon" src="../static/icons/edit.png" alt="asd"></div>-->
                            <div class="edit_dota"><button th:id="${dotaOrder.orderId}" onclick="show_hide(this.id)"><img class="edit_icon" src="/icons/edit.png" alt="asd"></button></div>
                        </div>
                        <div class="dota_change" th:id="'change'+ ${dotaOrder.orderId}">
                            <form th:action="@{/updateDota/{id}(id=${dotaOrder.orderId})}" th:method="PATCH" th:object="${updatedDotaOrder}">
                                <div>
                                    <input type="text" class="inp edit_inp" th:field="*{userExperience}" placeholder="New MMR">
                                </div>
                                <div>
                                    <select name="role" id="role" class="select edit_select">
                                        <option th:value="'Not mentioned'" th:text="'New Role'" th:selected="selected"
                                                th:disabled="disabled"></option>
                                        <option th:value="'Carry'" th:text="'Carry'"></option>
                                        <option th:value="'Off-Lane'" th:text="'Off-Lane'"></option>
                                        <option th:value="'Mid-Lane'" th:text="'Mid-Lane'"></option>
                                        <option th:value="'Support'" th:text="'Support'"></option>
                                        <option th:value="'Hard Support'" th:text="'Hard Support'"></option>
                                    </select>
                                </div>
                                <div>
                                    <select name="communication" id="communication" class="select edit_select">
                                        <option th:value="'Not mentioned'" th:text="'New Comm. Method'" th:selected="selected"
                                                th:disabled="disabled"></option>
                                        <option th:value="'Discord'" th:text="'Discord'"></option>
                                        <option th:value="'TeamSpeak'" th:text="'TeamSpeak'"></option>
                                        <option th:value="'Skype'" th:text="'Skype'"></option>
                                    </select>
                                </div>
                                <div><input type="submit" class="login_sign_in edit_subm" value="Submit"></div>
                            </form>
                            <form th:action="@{/deleteDotaOrder/{id}(id=${dotaOrder.orderId})}" th:method="DELETE">
                                <div><input type="submit" class="login_sign_in edit_subm delete_subm" value="Delete"></div>
                            </form>
                        </div>
                    </div>
                    <div th:each="csOrder : ${csOrders}">
                        <div class="val_row">
                            <div class="order_id"><strong th:text="${csOrder.orderId}"></strong></div>
                            <div class="game_name"><strong th:text="${csOrder.game}"></strong></div>
                            <div class="current_rank"><strong>Current rank: </strong><br><span th:text="${csOrder.userExperience}"></span></div>
                            <div class="win_rate"><strong>Win rate: </strong><br><span th:text="${csOrder.winRate}+'%'"></span></div>
                            <div class="in-game_hours"><strong>In-Game hours: </strong><br><span th:text="${csOrder.hoursPlayed}"></span></div>
                            <div class="best_map"><strong>Best map: </strong><br><span th:text="${csOrder.bestMap}"></span></div>
                            <div class="edit_csgo"><button th:id="${csOrder.orderId}" onclick="show_hide(this.id)"><img class="edit_icon" src="/icons/edit.png" alt="asd"></button></div>
                        </div>
                        <div class="cs_change" th:id="'change'+ ${csOrder.orderId}">
                            <form th:action="@{/updateCs/{id}(id=${csOrder.orderId})}" th:method="PATCH" th:object="${updatedCsOrder}">
                                <div>
                                    <select name="userExperience" id="userExperience" class="select edit_select">
                                        <option th:value="'Not mentioned'" th:text="'Updated Rank'" th:selected="selected"
                                                th:disabled="disabled"></option>
                                        <option th:value="'Silver'" th:text="'Silver'"></option>
                                        <option th:value="'Gold Nova'" th:text="'Gold Nova'"></option>
                                        <option th:value="'Master Guardian'" th:text="'Master Guardian'"></option>
                                        <option th:value="'Legendary Eagle'" th:text="'Legendary Eagle'"></option>
                                        <option th:value="'Global Elite'" th:text="'Global Elite'"></option>
                                    </select>
                                </div>
                                <div>
                                    <input type="text" class="inp edit_inp" th:field="*{winRate}" placeholder="New Rate(%)">
                                </div>
                                <div>
                                    <input type="text" class="inp edit_inp" th:field="*{hoursPlayed}" placeholder="In-game hours">
                                </div>
                                <div>
                                    <select name="bestMap" id="bestMap" class="select edit_select">
                                        <option th:value="'Not mentioned'" th:text="'Updated Map'" th:selected="selected"
                                                th:disabled="disabled"></option>
                                        <option th:value="'Mirage'" th:text="'Mirage'"></option>
                                        <option th:value="'Inferno'" th:text="'Inferno'"></option>
                                        <option th:value="'Overpass'" th:text="'Overpass'"></option>
                                        <option th:value="'Nuke'" th:text="'Nuke'"></option>
                                    </select>
                                </div>
                                <div><input type="submit" class="login_sign_in edit_subm" value="Submit"></div>
                            </form>
                            <form th:action="@{/deleteCsOrder/{id}(id=${csOrder.orderId})}" th:method="DELETE">
                                <div><input type="submit" class="login_sign_in edit_subm delete_subm" value="Delete"></div>
                            </form>
                        </div>
                    </div>



                </div>
                <div class="dancin" id="kitten_anchor">
                    <div class="kitten"><img src="https://c.tenor.com/9iOJvEmXkxgAAAAC/cursed-zxcursed-cat.gif" alt="">
                    </div>
                    <div class="kitten"><img src="https://c.tenor.com/sVNO62-MYV0AAAAM/zxc-cat.gif" alt=""></div>
                    <div class="kitten"><img src="https://c.tenor.com/R5e73IyF84YAAAAC/zxc-cat.gif" alt=""></div>
                </div>


            </div>
            <div class="footer_css">
                <div class="socialmedia">
                    <!--                    <div class="telegram"><a href="https://t.me/cybernest"><img src="../static/icons/telegram.png"alt="tg"></a></div>-->
                    <!--                    <div class="instagram"><a href="https://www.instagram.com/ant_cybernest/"><img src="../static/icons/instagram.png"alt="tg"></a></div>-->
                    <!--                    <div class="github"><a href="https://github.com/yershhov/ant_cybernest"><img src="../static/icons/github.png" alt="tg"></a></div>-->

                    <div class="telegram"><a href="t.me/cybernest"><img src="/icons/telegram.png" alt="tg"></a></div>
                    <div class="instagram"><a href="https://www.instagram.com/ant_cybernest/"><img
                            src="/icons/instagram.png" alt="tg"></a></div>
                    <div class="github"><a href="https://github.com/yershhov/ant_cybernest"><img src="/icons/github.png"
                                                                                                 alt="tg"></a></div>
                </div>
                <div class="erha">
                    <div class="erha_text">Designed and supported by YER|HA coop.</div>
                </div>
                <div class="hihihaha">
                    <div class="lefts">
                        <div class="hihi_text">All lefts reserved</div>
                    </div>
                    <div class="rights">
                        <div class="hihi_text">All rights reserved</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="../static/js/myscript.js"></script> -->
<!-- <script src="../static/js/popupscript.js"></script> -->
<script src="/js/myscript.js"></script>
<script src="/js/popupscript.js"></script>
<script src="/js/profile.js"></script>

</body>

</html>
